.image-card {
  height: 300px;
  object-fit: cover;
  transition: 0.1s;
}
.card-css {
  min-width: 300px;
}
.title-nutrition {
  color: rgba(221, 18, 99, 0.812);
}
.title-psychology {
  color: #0b99f1;
}
.title-articles {
  color: #7bb466;
}
.image-card:hover {
  filter: opacity(60%);
}
.hover:hover {
  color: rgb(0, 54, 126);
}
