.cardYoutube {
  width: auto;
  height: auto;
  margin-top: 5%;
}
.heart {
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  color: black;
}
.titulovideo {
  color: black;
  font-size: larger;
}
.red {
  color: red;
}
.clickable:hover {
  cursor: pointer;
}
