.image-card {
  height: 300px;
  object-fit: cover;
}
.card-css {
  min-width: 300px;
}
.title-nutrition {
  color: rgba(142, 11, 64, 0.812);
}
.title-psychology {
  color: #2881b9;
}
.title-articles {
  color: #77a467;
}
