.image-card {
  height: 300px;
  object-fit: cover;
}
.card-css {
  min-width: 300px;
}
.title-nutrition {
  color: rgba(221, 18, 99, 0.812);
}
.title-psychology {
  color: #0b99f1;
}
.title-articles {
  color: #7bb466;
}
.image-card:hover{
  filter: sepia(60%)
  /* filter: opacity(.5) */
}

