.letters {
  margin-top: 10%;
  margin-left: 10%;
  font-weight: bolder;
  font-size: 4rem;
  color: #023112;
  text-shadow: 1px 1px 1px #114e3a;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.paragraph {
  width: 30%;
  margin-left: 5%;
}
.title {
  display: flex;
  justify-content: center;
}

/* #4FB8EB; , #82c75a, #0a4b7e,053f6b*/

/* https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 */
