.letters {
  font-weight: bolder;
  font-size: calc(2em + 3vw);
  color: #1f5046;
  text-shadow: 1px 1px 1px #1f5046;
}
.main-image {
  position: absolute;
  left: 0;
  top: 1;
  z-index: -1;
  bottom: 0;
  right: 0;
}
.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-intro {
  width: 60%;
  font-size: calc(0.5em + 0.5vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
}
.main-intro .parrafo {
  font-weight: 700;
  background-color: rgb(214 167 59 / 45%);
  padding: 10px;
  color: #1f5046;
}
@media only screen and (max-width: 1400px) {
  .main-image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    bottom: 0;
    right: 0;
  }
}

.main-home .slogan {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: calc(0.6em + 0.5vw);
  background-color: rgb(214 167 59 / 45%);
  width: 80%;
  margin-bottom: 12px;
}
.slogan-css {
  color: rgb(145, 11, 64);
}
