* {
  font-family: "Roboto Mono", monospace;
}
.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.layout-main {
  flex-grow: 1;
}
body {
  background-image: url("https://images.unsplash.com/photo-1527525443983-6e60c75fff46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1970&q=80");
  background-color: #136335;
  background-size: contain;
  background-repeat: no-repeat;
}
