* {
  font-family: "Roboto Mono", monospace;
}
.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.layout-main {
  flex-grow: 1;
}
body {
  background-size: auto;
  background-repeat: no-repeat;

  background-image: url("https://images.unsplash.com/photo-1587979730756-177fc57770ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80");
  background-color: #1f5046;
}
