.logo_navBar {
  height: 6.5rem;
}
.styleNavbar {
  color: #1f5046;
  font-weight: 700;
  font-size: 1.2rem;
  
}
.page-nav {
  justify-content: center;
  align-items: flex-start;
}
.icon-collapse {
  font-size: 30%;
}
@media (max-width: 992px) {
  .page-nav {
    align-items: flex-end;
  }
  .dropdown-item {
    text-align: right;
  }
}
.dropdown-item:active {
  background-color: #47c4ab;
}
