.logo_navBar {
  height: 5rem;
}

.styleNavbar {
  background-color: #1f5046;
  display: flex;
  color: whitesmoke;
}
.page-nav {
  flex: 1;
  justify-content: center;
  align-items: flex-start;
}
.icon-collapse {
  font-size: 30%;
}
