.logo_navBar {
  height: 5rem;
}

.styleNavbar {
  background-color: #1f5046;
  color: whitesmoke;
}
.page-nav {
  justify-content: center;
  align-items: flex-start;
}
.icon-collapse {
  font-size: 30%;
}
@media (max-width: 992px) {
  .page-nav {
    align-items: flex-end;
  }
  .dropdown-item {
    text-align: right;
  }
}
