.body-view-registerForm {
  display: flex;
  align-items: center;
  height: 100%;
  background: url("/images/fondo-nakama-sin-mujer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.input-profileUser {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.39);
}
.button-save-img {
  background-color: rgba(142, 11, 64, 0.812);
  color: aliceblue;
  border-radius: 5px;
  border: none;
}
.button-save-img:hover {
  background-color: #47c4ab;
  color: aliceblue;
}
.image {
  height: 12rem;
  margin-bottom: 25px;
}
.image-position {
  display: flex;
  justify-content: center;
}
.position-buttons {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.button-save {
  background-color: #1f5046;
  color: white;
}
.button-save:hover {
  background-color: #47c4ab;
  color: aliceblue;
}
