.title-view-psychology {
  background-color: #2881b9;
  width: 100%;

  color: #f9fbfb;
}
.bg-psychology {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
}
.card-psychology {
  justify-content: space-evenly;
}
