.show-pass {
  position: absolute;
  display: block;
  text-align: center;
  padding: 0.3rem 1rem 0.5rem;
}
.title-register {
  text-shadow: 2px 2px 2px rgb(237, 243, 237);
  color: #1f5046;
  /* color: rgb(76, 170, 76); */
}

.register {
  display: flex;
  align-items: center;
  height: 100%;
  background: url("https://pixabay.com/get/g113c6a3d5fa3f2a6b4178283b68e7aaf86694cdf0c10715debd6a18cd564b490ba35e019980517129e329a7d2cbf28df667bd5162fcba919006a9c45ed2c6fa8acca7188519bee688e1fc7ebdef2cfd7_1920.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.input-register {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.39);
}
.button-create {
  background-color: #1f5046;
  color: aliceblue;
}
.button-create:hover {
  background-color: #47c4ab;
  color: aliceblue;
}
